doctype html
html(lang='en', ng-app='admin')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Administrador
    // Nombre pestaña
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='css/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/sb-admin-2.css', rel='stylesheet')
    // Morris CSS
    link(href='css/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js')
    script(src='js/UIadmin.js')
    base(href='/')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            // para cuando se hace la pantalla chica
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='admin') 
          img(src='imagen/logo.png', alt='Gelish', style='width:15em;height:3em;')
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right
          li.dropdown
            // data-toggle son efectos visuales al dar click
            a.dropdown-toggle(data-toggle='dropdown', href='#') #{user.nombre + ' ' + user.apellidos + ' '}
              i.fa.fa-user.fa-fw
              i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-user
              li
                a(href='logout')
                  i.fa.fa-sign-out.fa-fw
                  |  Salir
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li
                a(href='admin')
                  i.fa.fa-home.fa-fw
                  |  Inicio
              li
                a(href='#')
                  i.fa.fa-bar-chart-o.fa-fw
                  |  Reportes 
                  span.fa.arrow
                ul.nav.nav-second-level
                  li
                    a(href='reportesSucursales')   Sucursales
                    // <a href="flot.html"> Graficas </a>
              li
                a(href='#')
                  i.fa.fa-users.fa-fw
                  |  Administrador de sucursal
                  span.fa.arrow
                ul.nav.nav-second-level
                  li
                    a(href='agregarAdmin') Agregar
                  li
                    a(href='editarAdmin') Editar
                  li
                    a(href='eliminarAdmin') Eliminar
              li
                a(href='#')
                  i.fa.fa-building-o.fa-fw
                  |  Sucursales
                  span.fa.arrow
                ul.nav.nav-second-level
                  li
                    a(href='agregarSucursal') Agregar
                  li
                    a(href='editarSucursal') Editar
                  li
                    a(href='eliminarSucursal') Eliminar
              li
                a(href='#')
                  i.fa.fa-book.fa-fw   
                  |  Bitacora
                  span.fa.arrow
                ul.nav.nav-second-level
                  li
                    a(href='#') Administradores
                  li
                    a(href='#') Recepcionistas
                  li
                    a(href='#') Productos
                  li
                    a(href='#') Servicios
      div(ng-view='')
    script(src='js/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='js/metisMenu/metisMenu.min.js')
    // Custom Theme JavaScript
    script(src='js/sb-admin-2.js')
    script(src='js/raphael/raphael.min.js')
    script(src='js/morrisjs/morris.min.js')
    script(src='data/data-sucursales.js')