<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<style>
.marco{
  background: #fff;
  box-shadow: 3px 3px 50px #888888;
  font-family: "Roboto";
  border-radius: 10px;
}
.encabezado{
  font-size: 25px;
  padding-top: 10px;
  border-bottom: 3px solid #000;
}
.encabezado p{
  margin-top: 5px;
  display: inline-block;
}
.fecha{
  float: right;
  margin-right: 25px;
  font-weight: bold;
}
.folio{
  font-weight: bold;
  margin-left: 20px;
}
.cuerpo p{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.total{
  border-top: 3px solid #000;
  margin-left: 80%;
  margin-right: 5%;
}
.costo{
float: right;
margin-right: 10%;
}
.producto{
  padding-left: 10%;
  min-width: 300px;
  text-align: center;

}
.servicio{
  margin-left: 20px;
  min-width: 300px;
  text-align: center;
}
.prod{
  margin-left: 20px;
  min-width: 300px;
  max-width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.cant{
  margin-left: 10px;
  min-width: 80px;
  max-width: 80px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.tot{
  margin-top: 30px;
}
.renglonLista{
  margin-bottom: 10px;
}
.clien-form{
  margin-top: 15px;
}
.clien-form label{
  margin-left: 2%;
  font-size: 14px;
  font-weight: bold;
}
.clien-form input{
  margin-left: 2%;
  min-width: 30%;
  max-width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
</style>
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Nota de ventas</h1>
                </div>
            </div>

            <div class="marco">
              <div class="encabezado">
                <p class="folio">Folio:105</p>
                <p class="fecha"> {{fecha | date:'dd-MM-yyyy'}}</p>
              </div>
              <div>
                <div class="clien-form">
                    <label>Nombre</label>
                    <input list="clientes" name="clientes" ng-model="clientes" class="form-control" placeholder="Nombre del cliente">
                </div>
                  <datalist id="clientes">
                    <option ng-repeat="x1 in clients" value="{{x1.nombre+' '+x1.apellido}}">
                  </datalist>
              </div>
              <div class="cuerpo">
                <p>Cantidad</p>
                <p class="producto">Productos</p>
                <p class="servicio">Servicios</p>
                <p class="costo">Costo</p>
              </div>

              <div class="lista">
                 <fieldset  data-ng-repeat="renglon in listaNota">
                   <div class="renglonLista">
                     <input class="cant" type="text" ng-model="renglon.cantidad" name="" placeholder="#">
                     <input list="productos" class="prod" type="text" ng-model="renglon.producto" name="" placeholder="Producto">
                     <datalist id="productos">
                       <option ng-repeat="x1 in productos" value="{{x1.nombre}}">
                     </datalist>
                     <input list="servicios" class="prod" type="text" ng-model="renglon.servicio" name="" placeholder="Servicio">
                     <datalist id="servicios">
                       <option ng-repeat="x1 in servicios" value="{{x1.nombre}}">
                     </datalist>
                     <button style="margin-left:10px;"class="btn btn-success btn-circle" ng-show="$last" ng-click="addNewChoice()">+</button>
                     <button class="btn btn-danger btn-circle" ng-show="$last" ng-click="removeChoice()">-</button>
                   </div>
                 </fieldset>
              </div>
              <div class="tot">
                <p class="total">Total: </p>
              </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
