<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Editar administrdor de sucursal</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Información basica
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-lg-9">
                        <div class = "form-group">
                            <label>Seleccionar Admistrador de sucursal</label>
                            <select class="form-control" onchange="fillForm();">
                                <option value="-1" disabled selected>Seleccione un administrador de sucursal</option>
                                <option value="1">Juan</option>
                                <option value="2">Maria</option>
                            </select>
                        </div>
                         <form role="form">
                            <!--<fieldset id = "editFieldSet" disabled="enabled">!-->
                              <div class="editA" style="display:block">
                              </div>
                                <div class="oculta">
                                  <div class="form-group">
                                      <label>Nombre</label>
                                      <input class="form-control" placeholder="Nombre del empleado">
                                  </div>
                                  <div class="form-group">
                                      <label>Apellido paterno</label>
                                      <input class="form-control" placeholder="Primer apellido">
                                  </div>
                                  <div class="form-group">
                                      <label>Apellido Materno</label>
                                      <input class="form-control" placeholder="Segundo apellido">
                                  </div>
                                  <div class="form-group">
                                      <label>Nombre de usuario</label>
                                      <input class="form-control" placeholder="Usuario">
                                  </div>
                                  <div class="form-group">
                                      <label>Celular</label>
                                      <input class="form-control" placeholder="Número de teléfono celular">
                                  </div>
                                  <div class="form-group">
                                      <label>Sucursal</label>
                                      <select class="form-control" name="sucursal">
                                        <option value="" disabled selected>Seleccione una sucursal</option>
                                        <option value="" >Hermosillo</option>
                                      </select>
                                  </div>

                                  <button type="submit" class="btn btn-default">Guardar</button>
                                </div>
                             <!--</fieldset>!-->
                          </form>
                      </div>
                          <!--<h1>Form Validation States</h1>
                          <form role="form">
                              <div class="form-group has-success">
                                  <label class="control-label" for="inputSuccess">Input with success</label>
                                  <input type="text" class="form-control" id="inputSuccess">
                              </div>
                              <div class="form-group has-warning">
                                  <label class="control-label" for="inputWarning">Input with warning</label>
                                  <input type="text" class="form-control" id="inputWarning">
                              </div>
                              <div class="form-group has-error">
                                  <label class="control-label" for="inputError">Input with error</label>
                                  <input type="text" class="form-control" id="inputError">
                              </div> Estp se puede implementar el success y el error-->

                  </div>
                  <!-- /.row (nested) -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->