<!DOCTYPE html>
<html lang="en" ng-app="uiLogin" ng-controller="myCtrl" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inicio de sesión</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="js/uiLogin.js"> </script>
    <base href="http://localhost:3000/">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Inicio de sesión</h3>
                    </div>
                    <div class="panel-body">
                      <!-- metodo para pasar nformacion a routes/ login.js -->
                        <form id="form_login" role="form" name="form">

                          <div >
                            <img src="imagen/logo.png" width="100%">
                            <br>
                            <br>
                          </div>

                              <div class="form-group input-group">
                                  <span class="input-group-addon"><i class="fa fa-user "></i>
                                  </span>
                                  <input ng-model="username" type="text" class="form-control" placeholder="Usuario" id="input_user" name="username" type="input" autofocus required>
                              </div>
                              <span style="color:red" ng-show="form.username.$touched && form.username.$invalid">El nombre de usuario es requerido.</span>
                              <br>
                              <br>

                              <div class="form-group input-group">
                                  <span class="input-group-addon"><i class="fa fa-lock "></i>
                                  </span>
                                  <input  ng-model="password" class="form-control" placeholder="Contraseña" id="input_password" type="password" name="password" required>
                              </div>
                              <span style="color:red" ng-show="form.password.$touched && form.password.$invalid">La contraseña es requerida.</span>
                              <br>
                              <br>

                              <button ng-disabled="form.password.$invalid || form.username.$invalid"
                              type="submit" id="button_login" class="btn btn-primary btn-lg btn-block" ng-click="InicioSesion()">Iniciar sesión</button>
                                <!--<button type="submit" id="button_login" class="btn btn-primary btn-lg btn-block" ng-click="Verificar()">Iniciar sesión</button>-->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

</body>

</html>
